.nav-body{
    width: 100vw;
    height: fit-content;
    background-color: rgb(37, 37, 73);
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.nav-body hr{
    width: 90vw;
    color: rgb(131, 75, 220);
}

.nav-body h1{
    text-align: center;
}

.cntr{
    display: flex;
    justify-content:space-evenly;
}

.pfp img{
    width: 155px;
    height: 155px;
}

@media screen and (max-width: 768px){
    .nav-body {
    padding: 10px;
  }

  .cntr {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .pfp img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
  }

  .title h2, .title h3 {
    font-size: 1rem;
    padding: 0 10px;
  }
}

